body {
    background-color: #dddddd;
}

h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
}

p {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 500;
    color: rgb(80, 80, 80);
}

/*Header*/

header {
    display: flex;
    margin-left: 20%;
    margin-top: 5%;
    margin-right: 20%;
    margin-bottom: 5%;
    justify-content: space-between;
}

header #logo {
    max-width: 150px;
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    align-items: center;
}

nav li {
    list-style: none;
    padding-left: 70px;
}

nav a {
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    font-size: 32px;
    font-weight: 700;
    color: #da9100;
}

nav a:hover {
    color: rgb(80, 80, 80);
}

@media only screen and (max-width: 1200px) {
    header {
        display: flex;
        margin-left: 5%;
        margin-top: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
        justify-content: center;
    }
    
    header #logo {
        display: none;
    }

    nav li {
        list-style: none;
        padding-right: 10px;
    }
}

@media only screen and (max-width: 700px) {
    nav ul {
        display: block;
        padding-inline-start: 0;
    }

    nav li {
        list-style: none;
        padding-left: 0;
    }
}

/*Main Text*/

main {
    margin: 0% 25%;
}

main .mainTextAndImage {
    display: flex;
    background-color: #ffe5b3;
    border-radius: 20px;
}

.image {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
}

.mainTextAndImage p {
    padding: 5% 5%;
}

#mainImage {
    max-width: 270px;
}

@media only screen and (max-width: 1200px) {
    main {
        margin: 0% 10%;
    }
    
    main .mainTextAndImage {
        display: block;
        background-color: #ffe5b3;
        border-radius: 20px;
    }

    .image {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
    }
}