body {
    background-color: #dddddd;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 32px;
    font-weight: 700;
    color: rgb(80, 80, 80);
    margin-block-start: 0;
    margin-block-end: 0;
}

#itemListH2 {
    margin: 0 5%;
}

h3 {
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    font-weight: 700;
    color: rgb(80, 80, 80);
    margin-block-start: 0;
    margin-block-end: 0;
}

p {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 500;
    color: rgb(80, 80, 80);
}

html {
	scroll-behavior: smooth;
}

/*Header*/

header {
    display: flex;
    margin-left: 15%;
    margin-top: 2%;
    margin-right: 15%;
    margin-bottom: 2%;
    justify-content: space-between;
}

header #logo {
    max-width: 150px;
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    align-items: center;
}

nav li {
    list-style: none;
    padding-left: 60px;
}

nav a {
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    font-size: 32px;
    font-weight: 700;
    color: rgb(80, 80, 80);
}

nav a:hover {
    color: #da9100;
}

@media only screen and (max-width: 1200px) {
    header {
        display: flex;
        margin-left: 5%;
        margin-top: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
        justify-content: start;
    }
    
    header #logo {
        display: none;
    }

    nav li {
        list-style: none;
        padding-right: 10px;
    }
}

@media only screen and (max-width: 700px) {
    header {
        display: flex;
        margin-left: 15%;
        margin-top: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
        justify-content: start;
    }

    nav ul {
        display: block;
        padding-inline-start: 0;
    }

    nav li {
        list-style: none;
        padding-left: 0;
    }
}

/*Main Text*/

main {
    margin: 0% 20%;
}

main .mainTextAndImage {
    display: flex;
    align-items: start;
    margin-bottom: 5%;
}

main .mainText {
    display: block;
    padding: 3% 5%;
    background-color: #ffe5b3;
    border-radius: 10px;
}

.image {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
}

#mainImage {
    max-width: 600px;
    border-radius: 10px;
    margin-left: 3%;
}

@media only screen and (max-width: 1600px) {
    main {
        margin: 0% 10%;
    }
    
    main .mainTextAndImage {
        display: block;
    }

    #mainImage {
        margin: 2% 0;
    }

    .image {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-content: center;
    }
}

@media only screen and (max-width: 800px) {
    #mainImage {
        max-width: 350px;
        margin: 5% 0;
    }
}

/*Item List*/

main #list {
    margin: 2% 0%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

main .listItem {
    width: 200px;
    border: 2px solid black;
    margin: 2% 2%;
    padding: 1% 1%;
    border-radius: 10px;
}

main .listImage {
    width: 75%;
}

main .imageListBox {
    text-align: center;
}

main .listDescription {
    font-size: 16px;
    margin: 5% 0;
}

main .showMoreButtonCase {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 200px;
    height: 65px;
    border: 0px solid black;
    border-radius: 10px;
    background-color: #ffc559;
    font-size: 24px;
    font-family: 'Roboto Slab';
    font-weight: 700;
    margin-bottom: 20%;
}

button:hover {
    cursor: pointer;
    background-color: #ffaa0b;
    border: 2px solid black;

}

button:active {
    right: 5px;
    bottom: 5px;
    box-shadow: 
        -4px -2px 1px 1px grey,
        -4px -2px 1px 1px lightgray,
        4px 0px 1px 1px lightgray;
}